*{
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
    font-family: "Ubuntu", sans-serif;
    color: #000;
}
#bg{
    background-image: url(./assets/vector-NOV-2020-22_generated.jpg);
    height: 100vh;
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.navbar{
    /* border: 1px solid; */
    height: 100px;
    width: 100%;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    /* background-color: blue; */
}
.navbar.sticky{
    background-color: #0275d8;
    height: 70px;
    color: #fff;
    /* font-size: 10px; */
    transition: 0.3s;
}
.navbar.sticky .sub-navbar div a span{
    color: #fff;
}


.navbar .sub-navbar{
    /* border: 1px solid; */
    position: relative;
    width: 75%;
    height: inherit;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .sub-navbar div a{
    /* position: relative; */
    text-decoration: none;
    font-size: 35px;
    font-weight: 600;
    border: none;
    color: #fff;

}
.navbar .sub-navbar div a span, .home div span{
    color: #0275d8;
    position: relative;
    /* transition: all 0.3s ease; */
}
.navbar>.sub-navbar>ul{
    display: flex;
    position: relative;
    /* border: 1px solid; */
    width: 36%;
    justify-content: space-between;
    padding: 10px 10px;
    align-items: center;
}
.navbar>.sub-navbar>ul>li{
    position: relative;
    list-style: none;
    font-size: 18px;
    font-weight: 600;
    /* border: 1px solid; */

    /* font-family: 'Ubuntu', sans-serif; */

}
.navbar .sub-navbar ul li .menubtn{
    position: relative;
    text-decoration: none;
    color: #fff;
}

.menuClick{
    background-color: rgb(94, 94, 119);
    height: 700px;
    width: 100%;
    position: fixed;
    top: 70px;
    z-index: 111;
    display: none;
}
.menuClick ul li a{
    color: white;
    font-size: 21px;
    font-weight: 600;
    list-style: none;
    text-decoration: none;
}
.menuClick ul li{
    text-align: center;
    margin-bottom: 10px;
    margin-top: 70px;
}
.btnPressed{
    display: block;
}


/* home css */

.home{
    /* border: 1px solid white; */
    /* position: relative; */
    width: 40%;
    margin-left: 12.5%;
    height: 600px;
    padding-top: 140px;

    /* font-size: 30px; */
}
.home div:nth-child(1){
    font-size: 27px;
    color: #fff;
}
.home div:nth-child(2){
    font-size: 75px;
    font-weight: 600;
    color: #fff;
}
.home div:nth-child(3){
    font-size: 40px;
    color: #fff;
}
.home div span{
    font-weight: 600;
}
.btn-home{
    color: white;
    background-color:#0275d8;
    cursor: pointer;
    border-radius: 6px;
    border: none;
    padding: 15px 40px;
    font-size: 25px;
    margin-top: 30px;
    transition: all 0.3s ease;
}
.btn-home:hover{
    /* box-shadow: 1px 1px rgb(88, 88, 88); */
    background-color: black;
    /* transition-delay: 0.3s; */
    /* transition: scale(1); */
    /* transition-duration: 0.3s; */
    /* background-color:#0275d8; */
    /* transition-timing-function: ease-in-out; */
    border : 2px solid #0275d8 ;
    color: #0275d8;
}


/* section-2 */
#about{
    height: 635px;
    /* width: 100%; */
    /* margin: 10px 100px; */
    width: 75%;
    margin: auto;
    /* border: 2px solid; */
    padding-top: 100px;
    /* margin-top: 50px; */
}

#about> .sec2-1{
    text-align: center ;
}
#about> .sec2-1 p:nth-child(1){
    font-size: 40px;
    font-weight: 600;
    font-family: "Ubuntu", sans-serif;
}
#about> .sec2-1 p:nth-child(2){
    font-size: 20px;
    color: #0275d8;
    font-weight: 600;
}

#about> .sec2-2{
    height: 500px;
    /* border: 1px solid; */
    width: 100%;
    margin: auto;
    display: flex;
}
#about> .sec2-2 .sec2-21{
    /* border: 1px solid; */
    width: 400px;
    height: 400px;
    margin: 40px 40px;
    margin-top: 70px;
    background: url(./assets/ProfilePicture.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}
#about> .sec2-2 .sec2-22{
    /* border: 1px solid; */
    width: 65%;
    height: 400px;
    margin-top: 40px;
    margin-left: 80px;
    padding-top: 80px;
}
#about> .sec2-2 .sec2-22 >p{
    font-size: 25px;
    font-weight: 600;
    padding-bottom: 20px;
}
#about> .sec2-2 .sec2-22 >p span{
    color: #0275d8;
}
#about> .sec2-2 .sec2-22> span{
    letter-spacing: 1.5px;
    line-height: 25px;
}

#about> .sec2-2 .sec2-22 .btn-sec2-22{
    padding: 15px 30px;
    margin-top: 20px;
    color: #fff;
    background-color: #0275d8;
    font-size: 21px;
    font-weight: 500;
    cursor: pointer;
    border-radius: 6px;
    border: none;
}


/* sec3 */

.sec3{
    /* padding-top: 100px; */
    height: 740px;
    width: 75%;
    margin: auto;
    padding-top: 80px;
    /* border: 1px solid; */
    /* display: flex; */
}
.sec3 .sec3-1{
    text-align: center;
   padding-top: 15px;
   padding-bottom: 100px;
    height: 100px;
    width: 100%;
    /* border: 1px solid; */

}
.sec3 .sec3-1 p:nth-child(1){
    font-size: 40px;
    font-weight: 600;
}
.sec3 .sec3-1 p:nth-child(2){
    font-size: 18px;
    font-weight: 600;
    color: #0275d8;
}

.sec3-2{
    height: 550px;
    /* border: 1px solid; */
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.sec3-2> .sec3-21{
    height: inherit;
    /* border: 1px solid; */
    width: 50%;
    line-height: 20px;
    letter-spacing: 1.5px;
    /* padding-bottom: 50px; */
}
.sec3-2> .sec3-21 p:nth-child(1){
    font-size: 21px;
    font-weight: 600;
}
.sec3-2> .sec3-21 p:nth-child(2){
    font-size: 16px;
    padding-top: 20px;
    /* padding-bottom: 20px; */
    
}
.sec3-2> .sec3-21 p:nth-child(3){
    font-size: 16px;
    /* font-weight: 600; */
}
.sec3-2> .sec3-21 .btn-github{
    background-color: #0275d8;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    font-size: 18px;
    cursor: pointer;
}

.sec3-2> .sec3-22{
    height: inherit;
    /* border: 1px solid; */
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
   
}
.sec3-2> .sec3-22 img{
    height: 90px;
    width: 100px;
    margin-left: 20px;
    margin-right: 20px;
}

.contact{
    height: 500px;
    width: 75%;
    /* border: 1px solid; */
    margin: auto
}
.contact .contact1{
    text-align: center;
    padding-top: 30px;
}

.contact .contact1>p:nth-child(1){
    font-size: 40px;
    font-weight: 600;
}
.contact .contact1>p:nth-child(2){
        font-size: 18px;
        font-weight: 600;
        color: #0275d8;
}

.details{
    display: flex;
    /* justify-content: space-between; */
    /* border: 1px solid; */
    height: 50px;
    width: 100%;
    /* margin-top: 40px; */
    margin-bottom: 10px;
    /* padding-top: 30px; */
    /* margin: 0; */
    /* justify-content: space-between; */
}

.contact .m-details{
    display: flex;
    /* justify-content: space-between; */
    /* padding-right: 100px; */
    /* flex-direction: column; */
    flex-wrap: wrap;
    /* border: 1px solid;     */
    margin-top: 40px;          
    height: 250px;      
}

.contact .m-details .details .bx{
    color: #0275d8;
    font-size: 30px;
    margin-right: 10px;
}
.contact .m-details .details p{
    font-size: 16px;
}
.contact .m-details .details p a{
    text-decoration: none;
    color: #362f7e;
}
.contact .m-details .details p a:hover{
    text-decoration: underline;
}
.sm-details{
    width: 50%;
}
.sm-details:nth-child(2){
    padding-left: 100px;
}
footer{
    background-color: #000;
    /* text-align: center; */
    font-size: 18px;
    font-weight:500;
    color: #fff;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer div a {
    color: #0275d8;
    text-decoration: none;

}
footer div{
    color: #fff;
    letter-spacing: 0.5px;
}
footer a:hover {
    text-decoration: underline;
}


/* responsive */
#check{
    position: absolute;
    top: 0;
    display: none;
}
.bx{
    color: white;
    /* position: absolute; */
}
.checkbtn{
    font-size: 49px;
    position: absolute;
    top: 11px;
    right: 10px;
    cursor: pointer;
    display: none;
}

@media (max-width : 952px) {
    .mainText a{
        /* padding-left: 50px; */
        font-size: 20px;
    }
    .sub-navbar ul li{
        /* font-size: 41px; */
        margin-right: 10px;
    }
    .sub-navbar ul{
        margin-right: 30px;
    }
}

@media (max-width: 857px) {
    .checkbtn{
        display: block;

    }
    .sub-navbar{
        
    }
    .sub-navbar ul li{
        display: none;
         /* display: flex;
         flex-direction: column;
        flex-direction: column;
        border: 1px solid white;
        height: 800px;
        position: relative;
        top: 0;
        margin-top: 500px;
        width: 150%; */
    }
    .sub-navbar ul li{
        border: 1px solid white;
    }
    .mainText a{
        /* padding-left: 50px; */
        font-size: 23px !important;
    }
    .home div:nth-child(1){
        font-size: 35px !important;
        /* text-align: center; */
        margin-bottom: 40px;
    }
    .home div:nth-child(2){
        font-size: 62px !important;
        /* text-align:center; */
        margin-bottom: 40px;
    }
    .home div:nth-child(3){
        font-size: 29px;
        /* text-align: center; */
        margin-bottom: 40px;
    }
    .home{
        /* border: 1px solid white; */
        width: 75%;
        /* margin-top: 80px; */
    }
    #about> .sec2-2{
       flex-direction: column;
       height: 1900px !important;
       width: 200px !important;
       margin-left: 0;
       padding-left: 0;
       
       
       /* margin-right: 150px; */
    }
    #about> .sec2-2> .sec2-21{
        /* margin: 0; */
        width: 300px;
       height: 300px;
        margin: 0;
        width: 100%;
        margin-top: 20px;
        /* margin: 10px 10px; */
    }
    #about> .sec2-2> .sec2-22{
        /* border: 1px solid; */
        width: 140%;
        height: 800px;
        margin: 0px 0px;
        /* margin-right: 70px; */
        
    }
    body{
        margin: 0;
        padding: 0;
    }
    #about{
        height: 1000px !important;
        margin-bottom: 80px;
    }
    #skills{
        height: 2300px;
    }
    .sec3-2{
        flex-direction: column;
    }
    .sec3-2 .sec3-21{
        /* border: 1px solid; */
        width: 100%;
        margin-bottom: 10px;
    }
    .sec3-2 .sec3-22 a{
        /* display: flex !important;
        flex-direction: row !important;
        flex-wrap: wrap; */
        padding-left: 5 0%;
        padding-bottom: 20px;

    }
    .sec3-2 .sec3-22{
        margin-bottom: 20px;
    }
    #contact{
        margin: 0px 20px;
        height: 700px;
        margin-left: 50px;
    }
    .contact .m-details .sm-details{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        /* border: 1px solid;    */
        height: 300px;
        width: 100%;
        padding: 0;
    }
    .contact1{
        margin-top: 60px;
    }
    .contact .m-details .sm-details .details{
        /* font-size: 2px !important; */
        /* display: flex !important;
        flex-direction: column !important; */
        width: 100%;
    }
    .thanks{
        margin-top: 190px;
    }
    

}
/* .contact .m-details .details */

/* media queries */
/* @media (max-width: 500px) {
    .home .home-content .text-2 {
      font-size: 50px;
    }
    .home .home-content .text-3 {
      font-size: 27px;
    }
    .about .about-content .right .text,
    .skills .skills-content .left .text {
      font-size: 19px;
    }
    .scroll-up-btn {
      right: 15px;
      bottom: 15px;
      height: 38px;
      width: 35px;
      font-size: 23px;
      line-height: 38px;
    }
    .project-desc {
      margin-bottom: 0px;
    }
  } */